body{
    background-color:#ffffff;
    
}

/* Navbar */
ul{
    text-align: center;
    list-style-type: none;
}
li {
    display:inline;
    border-bottom:none;
}

.active{
    border-bottom:1px solid #3a3a3a;
}

nav a{
    text-decoration: none;
}
