#index-body{
    background-image: url(../images/cash.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Times New Roman', sans-serif;
    color:#ffffff;
}

body{
    font-family: 'Times New Roman', sans-serif;
    background-color:#ffffff;
    color:#000000;
}

/* Navbar */

#nav-div{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 10%;
    font-size: 20px;
}

.active{
    border-bottom:1px solid #ffffff;
}

#menu a:hover{
    border-bottom:1px solid #ffffff;
}

a:visited{
    text-decoration: none;
    color:#ffffff;
}

nav a{
    text-decoration: none;
    color:#ffffff;
    font-weight:bold;
}

#menu{
   font-size:150%;
   letter-spacing: 2px;
}

#home-icon{
    float:left;
    list-style-type: none;
    text-align:center;
    font-size:100%;
    color: #ffffff;
}

.nav-link{
    border-bottom:none;
    display:inline;
    margin-right: 20px;
    float: right; 
}

.money-image{
    height:620px;
    width:100%;
    float:left;
}

/* Middle Section index page */

.data-header{
    text-decoration: underline;
}
#left-box{
    width: 20%;
    position: relative;
    left: 25%;
    top: 175px;
    float: left;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    border:#000000 solid 5px;
}

#right-box{
    width: 20%;
    position: relative;
    right: 25%;
    top: 175px;
    float: right;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    border:#000000 solid 5px;
}

/* Gallery */

#images{
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#images > img{
    width:100%;
}

/*About page*/

#about-box{
    float: right;
    width: 20%;
    position: relative;
    right: 25%;
    top: 175px;
    text-align: center;
    border:#000000 solid 5px;
}

/*Service page*/

#service-image1 {
    float: left;
}

#service-image2{
    float: right;
}

#service-box1{
    float: right;
    width: 20%;
    position: relative;
    right: 25%;
    top: 175px;
    text-align: center;
    border:#000000 solid 5px;
}

#service-box2{
    float: left;
    width: 20%;
    position: relative;
    left: 25%;
    top: 175px;
    text-align: center;
    border:#000000 solid 5px;
}

span{
    font-weight: bold;
}

/*Footer*/

#social-media-header{
    color:#ffffff;
}

.social-medias li{
    letter-spacing: 100px;
    font-size:40px;
    display: inline;
}

.social-medias a:hover{
    color:#aaaaaa;
}

#footer-div {
    position:fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height:10%;   
    background:#000000;
    text-align: center;
    vertical-align: middle;
    line-height: 15%;
 }

 /*Media Queries*/

 /*For larger to medium screens from 1400px and down */
@media screen and (max-width: 1400px) {
    #index-body{
        background-repeat: repeat;
    }
}


/* For medium screen sizes from 950px and down */
@media screen and (max-width: 950px) {
    .social-medias li{
        letter-spacing: 50px;
        font-size:40px;
        display: inline;
    }
}

/* For smaller screen sizes 800px and down*/
@media screen and (max-width: 800px) {
    #menu{
        font-size: 100%;
    }
    .nav-link{
        margin-top: 3%;
    }
    .social-medias li{
        letter-spacing: 10px;
        font-size:20px;
        display: inline;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  
    /* CSS */
    
  }