#index-body{
    background-image: url(../images/cash.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Times New Roman', sans-serif;
    color:#ffffff;
}

body{
    font-family: 'Times New Roman', sans-serif;
    background-color:#ffffff;
    color:#000000;
}

/* Navbar */

#nav-div{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 10%;
    font-size: 20px;
    z-index: 1;
}

.active{
    border-bottom:1px solid #ffffff;
}

#menu a:hover{
    border-bottom:1px solid #ffffff;
}

a:visited{
    text-decoration: none;
    color:#ffffff;
}

nav a{
    text-decoration: none;
    color:#ffffff;
    font-weight:bold;
}

#menu{
   font-size:150%;
   letter-spacing: 2px;
}

#home-icon{
    float:left;
    list-style-type: none;
    text-align:center;
    font-size:100%;
    color: #ffffff;
}

.nav-link{
    border-bottom:none;
    display:inline;
    margin-right: 20px;
    float: right; 
}

.money-image{
    height:620px;
    width:100%;
    float:left;
}

/* Middle Section index page */

.data-header{
    text-decoration: underline;

}
#left-box{
    width: 20%;
    position: relative;
    left: 25%;
    top: 175px;
    float: left;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    border:#000000 solid 5px;
}

#right-box{
    width: 20%;
    position: relative;
    right: 25%;
    top: 175px;
    float: right;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    border:#000000 solid 5px;
}

/*Make the email link white instead of blue to make it more clear*/
#email{
    color: #ffffff;
}

/* Gallery */

#images{
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#images > img{
    width:100%;
}

/*About page*/

#about-box{
    float: right;
    width: 20%;
    position: relative;
    right: 25%;
    top: 175px;
    text-align: center;
    border:#000000 solid 5px;
}

/*Service page*/

#service-image1 {
    float: left;
}

#service-image2{
    float: right;
}

#service-box1{
    float: right;
    width: 20%;
    position: relative;
    right: 25%;
    top: 175px;
    text-align: center;
    border:#000000 solid 5px;
}

#service-box2{
    float: left;
    width: 20%;
    position: relative;
    left: 25%;
    top: 175px;
    text-align: center;
    border:#000000 solid 5px;
}

span{
    font-weight: bold;
}

/*Footer*/

#social-media-header{
    color:#ffffff;
}

.social-medias li{
    letter-spacing: 100px;
    font-size:40px;
    display: inline;
    color: #ffffff;
}

.social-medias a:hover{
    color:#aaaaaa;
}

#footer-div {
    position:fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height:10%;   
    background:#000000;
    text-align: center;
    vertical-align: middle;
    line-height: 15%;
 }

 /*Media Queries*/

 /*For larger to medium screens from 1850px and down */
@media screen and (max-width: 1850px) {
    #index-body{
        background-repeat: repeat;
    }
}
/* For medium screens from 1015px and down*/
@media screen and (max-width: 1015px) {
    #left-box{
        width: 47%;
    }


    #right-box{
        width: 47%;
        position: relative;
        right: 25%;
        top: 550px;
        float: left;
    }
}

/* For medium screen sizes from 950px and down */
@media screen and (max-width: 950px) {
    .social-medias li{
        letter-spacing: 50px;
        font-size:40px;
        display: inline;
    }
    #images{
        column-count: 1;
    }
}

/* For smaller screen sizes 800px and down*/
@media screen and (max-width: 800px) {
    #menu{
        font-size: 100%;

    }
    .nav-link{
        margin-top: 3%;

    }
    .social-medias li{
        letter-spacing: 10px;
        font-size:20px; 
    }
}

/*For small screen sizes 450px and down*/
@media screen and (max-width: 450px) {
    #social-media-header{
        display: none;
    }

    #left-box{
        position: relative;
        top: 135px;
    }

    #right-box{
        position: relative;
        top: 650px;
    }
}