#index-body{
    background-image: url(../images/cash.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Times New Roman', sans-serif;
    color:#ffffff;
}

body{
    font-family: 'Times New Roman', sans-serif;
    background-color:#ffffff;
}

/* Navbar */

#nav-div{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:black;
    text-align: center;
    vertical-align: middle;
    line-height: 10%;
    font-size:20px;
}

ul{
    list-style-type: none;
    text-align:center;
    font-size:100%;
}

li {
    border-bottom:none;
    display:inline;
}

.active{
    border-bottom:1px solid #ffffff;
}

a:visited{
    text-decoration: none;
    color:#ffffff;
}

#menu a:hover{
    border-bottom:1px solid #ffffff;
}

nav a{
    text-decoration: none;
    color:#ffffff;
    font-weight:bold;
}

#menu{
   font-size:150%;
   letter-spacing: 2px;
}

#home-icon{
    float:left;
    list-style-type: none;
    text-align:center;
    font-size:100%;
}

.nav-link{
    float:right;
}

.money-image{
    height:620px;
    width:100%;
    float:left;
}

/* Middle Section */

.data-header{
    text-decoration: underline;
}
#test{
    width: 20%;
    position: relative;
    left: 25%;
    top: 150px;
    float: left;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    border:#000000 solid 5px;
}

#right-box{
    width: 20%;
    position: relative;
    right: 25%;
    top: 150px;
    float: right;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    border:#000000 solid 5px;
}

/* Gallery */

#images{
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#images > img{
    width:100%;
}

/*Footer*/

#social-media-header{
    color:#ffffff;
}

.social-medias{
    letter-spacing: 100px;
    font-size:40px;
}

.social-medias a:hover{
    color:#aaaaaa;
}

#footer-div {
    position:fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height:15%;   
    background:#000000;
    text-align: center;
    vertical-align: middle;
    line-height: 15%;
 }